version: "3.8"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${RELATIONAL_DB_USERNAME}
      POSTGRES_PASSWORD: ${RELATIONAL_DB_PASSWORD}
      POSTGRES_DB: ${RELATIONAL_DB_NAME}

    volumes:
      - postgres_data:/var/lib/postgresql/data

  agent-service-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data:
