ENVIRONMENT=local
BASE_URL=localhost
PORT=3000
RELATIONAL_DB_DIALECT=postgres
RELATIONAL_DB_STORAGE_LOCAL=
RELATIONAL_DB_USERNAME=username
RELATIONAL_DB_PASSWORD=password
RELATIONAL_DB_NAME=db_name
RELATIONAL_DB_PORT=5432
RELATIONAL_DB_HOST='localhost'

# Authorization
AUTH_JWT_SECRET = 'secretJWT'
AUTH_JWT_REFRESH_EXPIRATION_IN_DAYS=30
AUTH_JWT_ACCESS_EXPIRATION=1

# Email setup
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_VERIFIED_IDENTITY=

AUTHENTICATION_ENABLED=true
AUTHORIZATION_ENABLED=true

#120000 expressed in milliseconds aka 2min
EXPIRE_EXTRA_TIME_IN_MILLIS=120,000 

GOOGLE_OAUTH_REDIRECT_URL=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

#S3 Bucket Connection
PUBLIC_BUCKET=
BUCKET_SECRET_KEY=
BUCKET_ACCESS_KEY=
BUCKET_REGION=us-east-1
SIGNED_URL_EXPIRE=

# Matching process
MAX_RADIUS_NEARBY_SEARCH_IN_KILOMETERS=100
SCALE_NEARBY_SEARCH_IN_KM=10 #it will perform the nearby search 5 times (every 100/5 km)
GOOGLE_API_KEY=
GEONAMES_USERNAME=
GEONAMES_MAX_ROWS=

# Firebase
FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

IS_AUTHORIZATION_ENABLED=
