ENVIRONMENT=local
BASE_URL=localhost
PORT=3000
RELATIONAL_DB_DIALECT=postgres
RELATIONAL_DB_STORAGE_LOCAL=
RELATIONAL_DB_USERNAME=username
RELATIONAL_DB_PASSWORD=password
RELATIONAL_DB_NAME=db_name
RELATIONAL_DB_PORT=5432
RELATIONAL_DB_HOST='localhost'
